<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><a href="profile.html"><img src="img/iot2.png" class="img-circle" width="80"></a></p>
        <h5 class="centered">Interface Application</h5>
        <br />
        <li class="sub-menu">
            <a class="<%= (PageAddr == 'ids' || PageAddr == 'rls' || PageAddr == 'a_star') ? 'active' : '' %>" href="javascript:;">
            <i class="fa fa-th"></i>
            <span>General Applications</span>
            </a>
            <ul class="sub">
            <li class="<%= PageAddr == 'ids' ? 'active' : '' %>" ><a href="lite_ids.ejs" class="sidebar_item">Intrusion Detection System</a></li>
            <li class="<%= PageAddr == 'rls' ? 'active' : '' %>"><a href="rls.ejs" class="sidebar_item">Recursive Least Squares</a></li>
            <li class="<%= PageAddr == 'a_star' ? 'active' : '' %>"><a href="a_star.ejs" class="sidebar_item">Path Finding A*</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a class="<%= (PageAddr == 'ekf_localization' || PageAddr == 'pf_localization') ? 'active' : '' %>" href="javascript:;">
            <i class="fa fa-globe"></i>
            <span>Localization</span>
            </a>
            <ul class="sub">
                <li class="<%= PageAddr == 'ekf_localization' ? 'active' : '' %>"><a href="ekf_localization.ejs" class="sidebar_item">EKF Localization </a></li>
                <li class="<%= PageAddr == 'pf_localization' ? 'active' : '' %>"><a href="pf_localization.ejs" class="sidebar_item">Particle Filter Localization</a></li>    
            </ul>
        </li>
        <li class="sub-menu">
            <a class="<%= (PageAddr == 'kf_passive_suspension' || PageAddr == 'robust_suspension') ? 'active' : '' %>" href="javascript:;">
            <i class="fa fa-car"></i>
            <span>Suspension</span>
            </a>
            <ul class="sub">
                <li class="<%= PageAddr == 'kf_passive_suspension' ? 'active' : '' %>"><a href="kf_passive_suspension.ejs" class="sidebar_item">Estimating Suspension</a></li>
                <li class="<%= PageAddr == 'robust_suspension' ? 'active' : '' %>"><a href="robust_suspension.ejs" class="sidebar_item">Robust Suspension</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a class="<%= (PageAddr == 'inverted_pendulum') ? 'active' : '' %>" href="javascript:;">
            <i class="fa fa-gears"></i>
            <span>Controller</span>
            </a>
            <ul class="sub">
                <li class="<%= PageAddr == 'inverted_pendulum' ? 'active' : '' %>"><a href="inverted_pendulum.ejs" class="sidebar_item">Inverted Pendulum</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a class="<%= (PageAddr == 'sot' || PageAddr == 'detectron_tracking' || PageAddr == 'siamfc' || PageAddr == 'kf_tracking') ? 'active' : '' %>" href="javascript:;">
            <i class=" fa fa-map-pin"></i>
            <span>Tracking</span>
            </a>
            <ul class="sub">
                <li class="<%= PageAddr == 'sot' ? 'active' : '' %>"><a href="sot.ejs" class="sidebar_item">Single Object Tracking</a></li>
                <li class="<%= PageAddr == 'detectron_tracking' ? 'active' : '' %>"><a href="detectron_tracking.ejs" class="sidebar_item">Detectron & JPDA</a></li>
                <li class="<%= PageAddr == 'siamfc' ? 'active' : '' %>"><a href="siamfc.ejs" class="sidebar_item">Object Tracking with SiamFC</a></li>    
                <li class="<%= PageAddr == 'kf_tracking' ? 'active' : '' %>"><a href="kf_tracking.ejs" class="sidebar_item">Tracking with Kalman Filter</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a class="<%= (PageAddr == 'settings') ? 'active' : '' %>" href="javascript:;">
            <i class="fa fa-sliders"></i>
            <span>Settings</span>
            </a>
            <ul class="sub">
                <li class="<%= PageAddr == 'settings' ? 'active' : '' %>"><a href="settings.ejs" class="sidebar_item">Settings</a></li>
            </ul>
        </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>

